body {
    background-color: blue;
}

#header {
    background-color: white;
    color: #000000;
    width: 50%;
    height: 100px;
    font-size: 36px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    
}

#directions {
    background-color: red;
    color: white;
    width: 50%;
    height: auto;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
}
#row3 {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-gap: 10px;
    align-items: center;
}

#points-to-win {
    background-color: white;
    color: black;
    width: 200px; 
    height: 150px;
    
}

#win-lose {
    background-color: white;
    color: black;
    width: 200px;
    height: 150px;
    
}

#picture-wrapper {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-gap: 10px;
    margin-top: 10px;  
    
}

#score {
    background-color: white;
    color: black;
    width: 200px;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#img-score {
    background-color: white;
    color: black;
    width: 200px;
    height: 150px;
    margin-bottom: 40px;
}

img {
    width: 150px;
    height: 150px;
    border: 3px solid black;
}