body {
    background-color: blue;
    background-image: url(../images/2-treasure-cave-background-cartoon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#header {
    background-color: transparent;
    color: #000000;
    width: 50%;
    height: 100px;
    font-size: 36px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    
    
}

h1 {
    position: relative;
    top: 35px;
    color: white;
    font-size: 50px;
    font-weight: 700;
}

p {
    font-size: 18px;
    font-weight: 300;
}
#directions {
    background-color: transparent;
    color: white;
    width: 50%;
    height: auto;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
}
#row3 {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-gap: 10px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

#points-to-win {
    background-color: grey;
    color: white;
    width: 200px; 
    height: 150px;
    border: 3px solid black;
 
}

#win-lose {
    background-color: grey;
    color: white;
    width: 200px;
    height: 150px;
    border: 3px solid black;
    
}

#picture-wrapper {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-gap: 10px;  
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
}

#score {
    background-color: grey;
    color: white;
    width: 15%;
    height: 60px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    border: 3px solid black;

}

img {
    width: 150px;
    height: 150px;
    border: 3px solid black;
}

.container {
    width: 100%;
    height: auto;
}